# this is a copy of the file .secret used in my own setup,
# to give you an idea of what needs to be in there,
# but with the actual values set to some random values of the same type as they should have


Johndoe#5743
JaneDoe#2486
JimmyFalcon#7410